body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.center{
	text-align: center;
	margin:auto;
}
#heading{
	font-size:2em;
}
#buttons{
	margin: 10% auto;

}
.buttons{
	padding:3%;
	border:2px solid;
	margin:20px;
	width:30%;
	font-size:2em;
}
.buttons:hover{
	cursor:pointer;
}
#lightTime{
	font-size:2em;
}

#temperature,#pir{
	font-size:2em;
}
#temperature h3,#pir h3{
	display:inline-block;
}
#temperature-field,#pir-field{
	font-size: 1.3em;
	margin-left:10px;
}



/* MEDIA QUERIES*/
@media screen and (min-width:200px) and (max-width:320px){
     #buttons{

     }
}
@media screen and (min-width:321px) and (max-width:480px){
    
    
}
@media screen and (min-width:481px) and (max-width:768px){
    
}